
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goa honymoon tour</title>
    <link rel="stylesheet" href="/template/home.html">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <div style="    text-align: center;    padding-bottom: 17px;">

    <a style="text-decoration: none; color: rgb(0, 0, 0); padding: 3px;" href="/">Home</a>

    <a style="text-decoration: none; color: rgb(0, 0, 0);  padding: 3px;" href="/contact">Contact</a>
    <a style="text-decoration: none; color: rgb(0, 0, 0);  padding: 3px;" href="/regis">registration</a>


</div>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/image/goa honey.jpg" height="400" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
            <img src="/static/image/goa honey1.jpg" height="400" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/static/image/goa honey2.jpg" height="400" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/static/image/Goa-Honeymoon.jpg" height="400" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

    <!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/image/goa honey.jpg" height="400" class="d-block w-100" alt="...">
            </div>
          <div class="carousel-item ">
            <img src="/static/image/Goa-Honeymoon.jpg.crdownload" height="400"class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/image/goa honey2.jpg" height="400" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/image/goa honey1.jpg"  height="400" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->

<hr>
    <h1 style="text-align: center;"> Goa Honeymoon Packages</h1>
    <hr>
    Goa is one of the most romantic honeymoon destinations in India. Its beautiful and amazing beaches attracts honeymoon couples from all over the world.
    
    Goa has all the attractions which a newly wed couples dreams for their honeymoon. Beautiful beaches, excellent night life, delicious sea food, adventurous water sports attracts couples from all over the world and more popular in India also.
    
The evergreen destination of Goa is a holidaymaker's paradise. Breathtakingly beautiful blue beaches, sensuous silvery sands, fabulous flora and fauna, rich cultural heritage, captivating churches, and terrific temples, Goa has it all. The feasts and festivals of Goa are the other things not to be missed. The Indian state of Goa beckons you for the time of your life. Experience a wonderful journey while enjoying a pleasant stay at Goa resorts. So, get going to Goa that is on a holiday - twelve months in a year!

We designed our Goa honeymoon packages specially for honeymoon couples by properly understanding their needs. We take care of your comfort and luxury of precious honeymoon in our packages. All the features included in our honeymoon package is to give a romantic touch to your honeymoon and a feeling of caring love for your spouse.
<hr>
<h2 style="text-align: center;">Weather of Goa:</h2>
<hr>
The average temperature varies between 25 C - 30 C (67.96F - 81.56F Approx). The average rainfall is approximately 325cms, the average daily hours of sunshine is nine to ten hours in summer and three to five hours during the monsoon.
The best time to visit Goa is during the months of October to April, when temperatures range between 21 and 32 C.

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="/static/image/kashmir.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div style="color: gray;"> Starting price per adult</div>
        <h5 class="card-title">Rs.70,990</h5>
        <p class="card-text">Costa Serena Cochin - Goa - Mumbai With Kerala Delight</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><button style="background-color: orangered;">Book Online</button><button  style="background-color: orange;">Want us to Call you?</button></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/image/goa2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div style="color: gray;"> Starting price per adult</div>
        <h5 class="card-title">Rs. 19,900</h5>
        <p class="card-text">The Zuri White Sands, Goa Resort & Casino Monsoon Offer</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><button style="background-color: orangered;">Book Online</button><button  style="background-color: orange;">Want us to Call you?</button></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/image/goa1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div style="color: gray;"> Starting price per adult</div>
        <h5 class="card-title">Rs. 21,990</h5>
        <p class="card-text">Azaya Beach Resort Goa - Monsoon Offer</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><button style="background-color: orangered;">Book Online</button><button  style="background-color: orange;">Want us to Call you?</button></small>
      </div>
    </div>
  </div>
</div>




<hr>
<h2 style="text-align: center;">
How to reach Goa</h2>
<hr>
<h2>By Air : </h2>Goa's international airport is 29 km from Panjim at Dabolim.

<h2>By Rail : </h2>Goa has two main stations at Madgaon and Vasco da Gama. The 760 km long Konkan Railway project between Mangalore (Karnataka) and Mumbai has given a major boost to train travel to Goa.

<h2>By Road : </h2>There are interstate bus services to Mumbai (16 hrs), Mangalore, Bangalore, Pune, Londa, Hubli, Hampi and Hospet.
<hr>
<h1 style="text-align: center;">Goa Honeymoon Tour Itinerary</h1>
<hr>
<h2>Day 01 : Arrive Goa</h2>
Transfer to the airport to connect flight to Goa. Upon arrival, the guests will be met & transferred to the hotel. Goa - It's 450 years under Portuguese domination produced a unique, syncretic blend of East and West. Rest of the day at leisure. Dinner and overnight at hotel.

<h2>Day 02 : Goa</h2>
Fullday sightseeing our Goa - Visit Old Goa, the most important Cathedrals and churches - namely Se-Cathedral, Church of St. Francis Xavier, St. Catherine's Church, Arch of Vice Roy of Goa. Miramar Beach -This is the only beach close to any city and has a good view of the river Mandovi flowing into the sea. Also visit Dona Paula fishing village which is a small village at the tip of Panaji, the place has a very good viewpoint and a monument at the same place. Overnight at hotel.

<h2>Day 03 : Goa</h2>
Full day at leisure for own activities and to enjoy the facilities of the resort. Dinner & overnight at the hotel.

<h2>Day 06 : Goa - Departure</h2>
After Breakfast departure from Goa.

<h1 style="text-align: center;background-color: rgba(0, 0, 0, 0.286);">For Booking Call +91-9990422209</h1>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

</body>
</html>