{% load static %}

<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>travel</title>
    <link rel="stylesheet" href="/template/contact.html">
    <link rel="stylesheet" href="/static/css/home.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body style="background-color: lightsteelblue;">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div>

        <div>

            <div style="justify-content: center;border-radius: 0 0 30px 30px;
align-items: center;
display: flex;margin-bottom: 20px;background-color: #00000061;">

                <img style="width: 8rem;" src="/static/image/logoillus.jpg" alt="">

                <img src="/static/image/Picsart_23-07-11_20-59-13-221.png" alt="" style="width: 78rex;padding: 1rem;">

                <div style="display: grid;">

                    <button type="button" class="btn btn-secondary btn-sm" style="font-family: math;background-color: black;margin-right: -144px;
            "><a style="text-decoration: none; color: white;" href="/regis">registration</a> </button>
                    <!-- <button type="button" class="btn btn-secondary btn-sm"
                        style="font-family: math;background-color: brown"><a
                            style="text-decoration: none; color: white;" href="/login">logout</a> </button> -->
                    <button type="button" class="btn btn-secondary btn-sm"
                        style="font-family: math;background-color: #8D6E63;"><a
                            style="text-decoration: none; color: white;" href="/contact">contact us</a> </button>
                    <button type="button" class="btn btn-secondary btn-sm"
                        style="font-family: math;background-color: #8D6E63;"><a
                            style="text-decoration: none; color: white;" href="/spinwheel">Click me</a> </button>

                </div>
            </div>

            <div style="    text-align: center;    padding-bottom: 17px;">

                <a style="text-decoration: none; color: white; padding: 3px;" href="/">Home</a>
                <a style="text-decoration: none; color: white;  padding: 3px;" href="/login">Login</a>
                <a style="text-decoration: none; color: white;  padding: 3px;" href="/contact">Contact</a>
                <a style="text-decoration: none; color: white;  padding: 3px;" href="/regis">registration</a>


            </div>


            <nav class="navbar navbar-expand-lg bg-body-tertiary" style=" background: linear-gradient(1deg, #00796b54, #000000c7);
    --bs-bg-opacity: 0;font-family: math;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">

                    </a>



                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item dropdown" style="    padding-top: 12px;">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <strong style="color: white;">
                                        India Tourism
                                    </strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="udapur">Udaipur</a></li>
                                    <li><a class="dropdown-item" href="tamil">Tamil Nadu</a></li>
                                    <li><a class="dropdown-item" href="orrisa">Orissa</a></li>
                                    <li><a class="dropdown-item" href="kashmir">Kashmir</a></li>
                                    <li><a class="dropdown-item" href="assam">Assam</a></li>

                                    <li><a class="dropdown-item" href="#">Bihar</a></li>

                                    <li><a class="dropdown-item" href="#">Chhattisgarh</a></li>

                                    <li><a class="dropdown-item" href="#">Delhi</a></li>

                                    <li><a class="dropdown-item" href="#">Goa</a></li>

                                    <li><a class="dropdown-item" href="#">Himachal Pradesh</a></li>

                                    <li><a class="dropdown-item" href="#">Jammu and Kashmir</a></li>
                                    <li><a class="dropdown-item" href="#">Karnataka</a></li>
                                    <li><a class="dropdown-item" href="#">Madhyapradesh</a></li>
                                    <li><a class="dropdown-item" href="#">Maharastra</a></li>
                                    <li><a class="dropdown-item" href="#">Manipur</a></li>
                                    <li><a class="dropdown-item" href="#">Meghalaya</a></li>
                                    <li><a class="dropdown-item" href="#">Puducherry</a></li>
                                    <li><a class="dropdown-item" href="#">Punjab</a></li>
                                    <li><a class="dropdown-item" href="#">Rajisthan</a></li>
                                    <li><a class="dropdown-item" href="#">Sikkim</a></li>
                                    <li><a class="dropdown-item" href="#">Uttrakhand</a></li>
                                    <li><a class="dropdown-item" href="#">Uttar Pradesh</a></li>
                                    <li><a class="dropdown-item" href="#">West Bengal</a></li>

                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <strong style="    color: white;">InternationL Tourism</strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="mussorie">Massoorie tour packages</a></li>
                                    <li><a class="dropdown-item" href="ladkh">Ladakh Tour packages</a></li>
                                    <li><a class="dropdown-item" href="udapur">udapur Tour packages</a></li>
                                    <li><a class="dropdown-item" href="kastourpak">Kashmir tour packages</a></li>
                                    <li><a class="dropdown-item" href="#">Ooty tour packages</a></li>
                                    <li><a class="dropdown-item" href="#">Agra tour packages</a></li>

                                    <li><a class="dropdown-item" href="#">Simla Manali tour packages</a></li>



                                    <li><a class="dropdown-item" href="#">Kashmir tour packages</a></li>
                                    <li><a class="dropdown-item" href="#">Manali tour packages</a></li>
                                    <li><a class="dropdown-item" href="#">Kasauli tour packages</a></li>

                                    <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="color: white;">Honeymoon Tours</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="goa/">Goa</a></li>
                                <li><a class="dropdown-item" href="kerhony/">Kerala</a></li>
                                <li><a class="dropdown-item" href="simhony/">Shimla</a></li>
                                <li><a class="dropdown-item" href="#">Nainital</a></li>
                                <li><a class="dropdown-item" href="#">Almora</a></li>
                                <li><a class="dropdown-item" href="#">Mussoorie</a></li>
                                <li><a class="dropdown-item" href="#">Mount Abu</a></li>
                                <li><a class="dropdown-item" href="#">Mumbai</a></li>
                                <li><a class="dropdown-item" href="#">Delhi</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="color: white;">wildlife</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="wildlife">Show All</a></li>

                               
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="color: white;">Adventure</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="manali">Simla Manali tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Hill station tour</a></li>
                                <li><a class="dropdown-item" href="#">Agra tour packages</a></li>


                                <li><a class="dropdown-item" href="#">Ooty tour packages</a></li>

                                <li><a class="dropdown-item" href="#">Massoorie tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Kashmir tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Jaipur Tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Manali tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Kasauli tour packages</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="color: white;">Pilgrimage</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="chardham">Chardham Yatra</a></li>
                                <li><a class="dropdown-item" href="vashno">Vaishno Devi Packages</a></li>
                                <li><a class="dropdown-item" href="#">12Jyotirlinga yatra</a></li>
                                <li><a class="dropdown-item" href="#">Amarnath Yatra</a></li>
                                <li><a class="dropdown-item" href="#">Kedarnath yatra</a></li>
                                <li><a class="dropdown-item" href="#">Dwarkadhish Temple Tour</a></li>
                                <li><a class="dropdown-item" href="#">Varansi Pilgrimage Tour</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="color: white;">Popular Tour</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="andaman">Andaman family Tour</a></li>
                                <li><a class="dropdown-item" href="nanital">Nainital Honeymoon Delight</a></li>
                                
                                
                                <li><a class="dropdown-item" href="#">Best Of Sikkim Tour</a></li>
                                <li><a class="dropdown-item" href="#">Valley Of Flowers Trek</a></li>
                                <li><a class="dropdown-item" href="#">Kashmir Houseboat Tour With Sonmarg</a></li>
                                <li><a class="dropdown-item" href="#">Kedarnath Yatra Package 2023 From Haridwar</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Kullu Manali tour</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form  method="get" action="/search/" class="d-flex" role="search">
                        <input class="form-control me-2" type="search"  name="query"
                        id="query" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    {%block body%}
        <br>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/image/slide1.jpg" height="400" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/image/slide2.jpg" height="400" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/image/slide3.jpg" height="400" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/image/slide4.jpg" height="400" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/image/slide5.jpg" height="400" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>


        <br>


        <div class="holiday-search">
            <h2 class="iWantholiday" style="
        text-align: center;font-family: math;
        
    ">I want to Holiday in...</h2>
            <form class="form-inline" role="form" id="searchForm" method="GET" style="display: flex;
        align-items: center; justify-content: center;padding-bottom: 8px;">

                <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-12 no-padding-imp">
                    <input style="border: hidden;
                background: #ffffff94; border-radius: 0px;" type="text" autocomplete="off"
                        class="form-control  holidayPlace" id="holidayPlace"
                        placeholder="Destination e.g. Europe / Theme e.g. Adventure">
                    <input type="hidden" name="holidayPlace" id="holidayPlaces" value="">

                </div>


                <div class="selectric-hide-select"><select id="budgetHoliday" tabindex="0" style=" border: hidden;
                background: #ffffff94;    height: 36px;">
                        <option value=""> Budget per person </option>
                        <option value="1,30000"> Less than ₹30,000 </option>
                        <option value="30000,100000"> ₹30,000 to ₹1 Lac </option>
                        <option value="100000,200000"> ₹1 Lac to ₹2 Lac </option>
                        <option value="200000,0"> More than ₹2 Lac </option>
                    </select></div>




                <div class="selectric-hide-select"><select id="monthHoliday" tabindex="0" style=" border: hidden;
                background: #ffffff94;    height: 36px;">
                        <option value="">Month of travel</option>
                        <optgroup label="2023">
                            <option value="6-2023">Jul</option>
                            <option value="7-2023">Aug</option>
                            <option value="8-2023">Sep</option>
                            <option value="9-2023">Oct</option>
                            <option value="10-2023">Nov</option>
                            <option value="11-2023">Dec</option>
                        </optgroup>
                        <optgroup label="2024">
                            <option value="0-2024">Jan</option>
                            <option value="1-2024">Feb</option>
                            <option value="2-2024">Mar</option>
                            <option value="3-2024">Apr</option>
                            <option value="4-2024">May</option>
                            <option value="5-2024">Jun</option>
                        </optgroup>
                    </select></div>




                <div style="border: hidden;
            background: #ffffff94;">
                    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>


            </form>
        </div>

    </div>
    <br>





    <div style="padding: 29px;
    background-color: #00000036;">



        <h2 style="color: black;text-align: center;font-family: math;">Best India Tourism Offers - Exclusively for You!
        </h2>


        <div id="BodyContainer">
            <div id="bodycontainer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="margin-bottom-20">

                                        <div class="">

                                            <a href="/holidays/india-tour-packages/rann-of-kutch-tour-packages?src=indiahol-bn1"
                                                target="_blank">
                                                <span>
                                                    <img src="/static/image/homeg1.jpg"
                                                        data-src="/images/site-banners/campaign-images/rann-utsav-bn-nov.jpg"
                                                        class=" img-responsive  lazyImg" alt="" title=" 
© Andaman">
                                                </span>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="margin-bottom-20">

                                        <div class="">

                                            <a href="/holidays/india-tour-packages/himachal-pradesh-tour-packages?src=indiahol-bn2"
                                                target="_blank">
                                                <span>
                                                    <img src="/static/image/homeg2.jpg"
                                                        data-src="/images/site-banners/web_himachal_31aug.jpg"
                                                        class=" img-responsive  lazyImg" alt="" title=" ">
                                                </span>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="margin-bottom-20">

                                        <div class="">

                                            <a href="/kerhony" target="_blank">
                                                <span>
                                                    <img src="/static/image/homeg3.jpg"
                                                        data-src="/images/site-banners/1-kerala-dec-12.jpg"
                                                        class=" img-responsive  lazyImg" alt="" title=" ">
                                                </span>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="margin-bottom-20">

                                        <div class="">

                                            <a href="/holidays/international-tour-packages/sri-lanka-tour-packages?src=indiahol-bn4"
                                                target="_blank">
                                                <span>
                                                    <img src="/static/image/homeg4.jpg"
                                                        data-src="/images/site-banners/campaign-images/oct-sri-bn.jpg"
                                                        class=" img-responsive  lazyImg" alt="" title=" ">
                                                </span>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="margin-bottom-20">

                                        <div class="">

                                            <a href="/kashmir" target="_blank">
                                                <span>
                                                    <img src="/static/image/homeg5.jpg"
                                                        data-src="/images/home-page-banners/370-320-kash-jan.jpg"
                                                        class=" img-responsive  lazyImg" alt="" title=" ">
                                                </span>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="margin-bottom-20">

                                        <div class="">

                                            <a href="/holidays/india-tour-packages/north-east-tour-packages?src=indiahol-bn6"
                                                target="_blank">
                                                <span>
                                                    <img src="/static/image/homeg6.jpg"
                                                        data-src="/images/home-page-banners/370-260-north-dec.jpg"
                                                        class=" img-responsive  lazyImg" alt="" title=" 
© North East">
                                                </span>

                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>

    <div style="padding: 29px;
background-color: #00000036;">
        <h2 style="text-align: center;font-family: math;">Worldwide Events to Plan your Holidays</h2>

        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/image/mald-jan.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Maldives Holidays</h5>
                        <p>PackagesStarting at Rs.45.539</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/image/myanmar-big.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Myanmar Holidays</h5>
                        <p>PackagesStarting at Rs.43.999</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="/ladkh"></a>
                    <img src="/static/image/ladkh.jpg" class="d-block w-100" alt="..." style="height: 450px;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Ladhak Holiday</h5>
                        <p>PackagesStarting at Rs.55.539</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <br>
    <!--slider  -->
    <!-- <link rel="stylesheet" href="/static/css/home.css">

    <div id="carouselsExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inners">
          <div class="carousel-item active">
            <div class="cards-wrappers">
            <div class="cards">
              <img src="..." class="cards-img-top" alt="...">
              <div class="cards-body">
                <h5 class="cards-title">Card title</h5>
                <p class="cards-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="cards d-none d-md-block">
              <img src="..." class="cards-img-top" alt="...">
              <div class="cards-body">
                <h5 class="cards-title">Card title</h5>
                <p class="cards-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="cards d-none d-md-block">
              <img src="..." class="cards-img-top" alt="...">
              <div class="cards-body">
                <h5 class="cards-title">Card title</h5>
                <p class="cards-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrappers">
              <div class="cards">
                <img src="..." class="cards-img-top" alt="...">
                <div class="cards-body">
                  <h5 class="cards-title">Card title</h5>
                  <p class="cards-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="cards d-none d-md-block">
                <img src="..." class="cards-img-top" alt="...">
                <div class="cards-body">
                  <h5 class="cards-title">Card title</h5>
                  <p class="cards-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="cards d-none d-md-block">
                <img src="..." class="cards-img-top" alt="...">
                <div class="cards-body">
                  <h5 class="cards-title">Card title</h5>
                  <p class="cards-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrappers">
              <div class="cards">
                <img src="..." class="cards-img-top" alt="...">
                <div class="cards-body">
                  <h5 class="cards-title">Card title</h5>
                  <p class="cards-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="cards d-none d-md-block">
                <img src="..." class="cards-img-top" alt="...">
                <div class="cards-body">
                  <h5 class="cards-title">Card title</h5>
                  <p class="cards-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="cards d-none d-md-block">
                <img src="..." class="cards-img-top" alt="...">
                <div class="cards-body">
                  <h5 class="cards-title">Card title</h5>
                  <p class="cards-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousels-control-prev" href="#carouselsExampleControls" role="button" data-slide="prev">
          <span class="carousels-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousels-control-next" href="#carouselsExampleControls" role="button" data-slide="next">
          <span class="carousels-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        

</div> -->

    <!-- slide -->
    <!-- <div style="padding: 29px;
    background-color: #00000036;">

        <h3 style="text-align: center;font-family: math;">India Holiday Packages</h3>
    </div> -->
    <br>
    <!-- <div style="padding: 29px;
    background-color: #00000036;">

        <h3 style="text-align: center;font-family: math;">India Honeymoon Packages</h3>
    </div> -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <br>
    <!-- footer -->
    {%endblock%}
</body>
<div>

    <footer>
        <div class="row primary">
            <div class="column about">

                <h3>#Ummazing India</h3>

                <p>
                    India nahi dekha to country kya dekha!
                </p>

                <div class="social">
                    <i class="fa-brands fa-facebook-square"><img src="/static/image/facebookicon.png"
                            style="width: 3rem;" alt=""></i>
                    <i class="fa-brands fa-instagram-square"><img src="/static/image/instagramicon.png"
                            style="width: 3rem;" alt=""></i>
                    <i class="fa-brands fa-twitter-square"><img src="/static/image/twittericon.png" style="width: 3rem;"
                            alt=""></i>
                    <i class="fa-brands fa-youtube-square"><img src="/static/image/youtubeicon.png" style="width: 3rem;"
                            alt=""></i>
                    <i class="fa-brands fa-whatsapp-square"><img src="/static/image/WhatsAppicon.png"
                            style="width: 3rem;" alt=""></i>
                </div>
            </div>

            <div class="column links">
                <h3>Some Links</h3>

                <ul>

                    <li>
                        <a href="#faq">F.A.Q</a>
                    </li>
                    <li>
                        <a href="#cookies-policy">Cookies Policy</a>
                    </li>
                    <li>
                        <a href="#terms-of-services">Terms Of Service</a>
                    </li>
                    <li>
                        <a href="#support">Support</a>
                    </li>
                </ul>

            </div>


            <div class="column links">
                <h3>Some Links</h3>
                <ul>
                    <li>
                        <a href="#faq">F.A.Q</a>
                    </li>
                    <li>
                        <a href="#cookies-policy">Cookies Policy</a>
                    </li>
                    <li>
                        <a href="#terms-of-services">Terms Of Service</a>
                    </li>
                    <li>
                        <a href="#support">Support</a>
                    </li>
                </ul>
            </div>

            <div class="column subscribe">
                <h3 style="text-align: center;">Newsletter</h3>
                <div>
                    <input type="email" placeholder="Your email id here" style="border-radius: 50px;" />
                    <button style="border-radius: 50px;">Subscribe</button>
                </div>

            </div>

        </div>

        <div class="row copyright">
            <div class="footer-menu">

                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/contact">Contact</a>
                <a href="/regis">registration</a>


            </div>
            <p>Copyright &copy; 2021 memorable yatra</p>
        </div>
    </footer>



</div>






</html>