<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Jaipur Ranthambore Tour Package (3Night/4Days)</h2></center>
    <hr>
<br>
<h4>Day 1 Jaipur Arrival</h4>
Arrival at Jaipur Airport/Railway Station/ISBT meet our representative and transfer to Hotel by AC Car. checkin to Hotel, freshen up yourself at evening visit "Chokhi Dhani" A tradtitional Rajasthani vilage resort,overnight stay at hotel.
<br>
<h4>Day 2 Jaipur Local</h4>
After breaksfast transfer for full day sightseen on Pink City visit Hawa Mahal,City Palace,Jantar Mantar,Jal Mahal,Amber Fort, night stay at hotel.
<br>
<h4>Day 3 Jaipur-Ranthambore</h4>
After breaksfast checkout from hotel & transfer to Ranthambore,at afternoon reach Ranthambore checkin at hotel, night stay at hotel.
<br>
<h4>Day 4 Ranthambore Safari - Drop at Jaipur</h4>
at early morning go for Ranthambore National Park Jungle Safari, After lunch checkout from hotel transfer to Jaipur Airport/Railway Station. Tour end with sweet memories of Jaipur pink city & Ranthambore wildlife tour.
<br>
<ul>
<h4>Inclusions</h4>
<li> Pickup & Drop from Airport/Railway Station by well appointed AC Car</li>
<li>3 night accommodation at Jaipur Hotel</li>
<li>1 night accommodation at Ranthampore Hotel</li>
<li>Daily breakfast And Dinner.</li>
<li>sightseeing as per the itinerary.</li>
<li>ll transfers, city tours and transport services by Non Ac Vehicle as per the itinerary</li>
<li>All Arrival/Departure transfer as mentioned in Itinerary. Airport transfers (airport - hotel - airport).</li>
<li>All applicable Taxes.</li>
</ul>
<br>
Note - Above package is also available from Jaipur to Ranthampore
</body>
</html>