<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Jaipur Tour Package (3Night/4Days)</h2></center>
    <hr>
<br>
<h4>Day 1 Jipur Arrival</h4>
Arrival at Jaipur Airport/Railway Station/ISBT meet our representative and transfer to Hotel by AC Car. checkin to Hotel, freshen up yourself at evening visit "Chokhi Dhani" A tradtitional Rajasthani vilage resort,overnight stay at hotel.
<br>
<h4>Day 2 Jaipur Local</h4>
After breaksfast transfer for full day sightseen on Pink City visit Hawa Mahal,City Palace,Jantar Mantar,Jal Mahal,Amber Fort, night stay at hotel.
<br>
<h4>Day 3 Jaipur Local</h4>
After breaksfast transfer for full day sightseen on Pink City visit Nahargarh Fort, Jaigarh Fort,Govindji Temple,Albert Hall,night stay at hotel.
<br>
<h4>Day 04 jaipur Local</h4>
After breakfast checkout from hotel and transfer to jaipur airport for onward flight
<br>
<ul>
<h4>Inclusions</h4>
<li> 3 night accommodation in Hotel / Houseboats on Twin sharing basis.</li>
<li>Daily breakfast And Dinner.</li>
<li>sightseeing as per the itinerary.</li>
<li>ll transfers, city tours and transport services by Non Ac Vehicle as per the itinerary</li>
<li>All Arrival/Departure transfer as mentioned in Itinerary. Airport transfers (airport - hotel - airport).</li>
<li>01 Hour Shikara ride in dal lake.</li>
<li>All applicable Taxes.</li>
</ul>
<br>
Note - Above package is also available from Jaipur to jaipur
</body>
</html>