<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Jaipur Tour from Delhi(3Night/4Days)</h2></center>
    <hr>
<br>
<h4>Day 1 Day 1 Delhi - Jaipur (Approx 290 KM) 5 HRS Journey</h4>
Reach Delhi Airport/Railway Station/ISBT OR any Local address of Delhi NCR meet our representative and transfer to Jaipur by prebook AC Car. Approx. 290 KM journey will take 5 HRS to reach jaipur, after reaching jaipur checkin to Hotel, freshen up yourself & go ahead for Jaipur local sight seen,Visit some beautifull historical places in jaipur like Hawa Mahal, City Palce, Albert Hall, Jantar Mantar, at evening visit Chokhi Dhani, a unique Village Resort,Overnight stay at hotel.
<br>
<h4>Day 2 Jaipur Local</h4>
After breakfast transfer from hotel and visit some other remarkable places of Jaipur like Amber Fort, Nahargarh fort, Jal Mahal, Jaigarh Fort,overnight stay ay hotel.
<br>
<h4>Day 3 Jaipur - Delhi (Approx 290 KM) 5 HRS Journey</h4>
After breakfast checkout from hotel and retrun transfer to Delhi with sweet memories of Jaipur Pink City, after reaching Delhi drop at airport/railway station/ISBT OR any local address .
<br>
<h4>Day 04 jaipur Local</h4>
After breakfast checkout from hotel and transfer to jaipur airport for onward flight
<br>
<ul>
<h4>Inclusions</h4>
<li> Delhi-Jaipur-Delhi all transfers by well appointed AC Car</li>
<li>Daily breakfast And Dinner.</li>
<li>sightseeing as per the itinerary.</li>
<li>ll transfers, city tours and transport services by Non Ac Vehicle as per the itinerary</li>
<li>All Arrival/Departure transfer as mentioned in Itinerary. Airport transfers (airport - hotel - airport).</li>
<li>All applicable Taxes.</li>
</ul>
<br>
Note - Above package is also available from Jaipur to jaipur
</body>
</html>