<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jaipur tour package</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>


  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/image/jaipur1.jpg.crdownload" height="400" class="d-block w-100" alt="...">
        </div>
      <div class="carousel-item ">
        <img src="/static/image/jaipur2.png" height="400"class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/image/jaipur3.jpg" height="400" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/image/jaipur4.jpg.crdownload"  height="400" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

    <h1>Jaipur Ranthambore Tour Package </h1>


   <h3> Day 1 Jaipur Arrival</h3>
    Arrival at Jaipur Airport/Railway Station/ISBT meet our representative and transfer to Hotel by AC Car. checkin to
    Hotel, freshen up yourself at evening visit "Chokhi Dhani" A tradtitional Rajasthani vilage resort,overnight stay at
    hotel.

    <h3>Day 2 Jaipur Local</h3>
    After breaksfast transfer for full day sightseen on Pink City visit Hawa Mahal,City Palace,Jantar Mantar,Jal
    Mahal,Amber Fort, night stay at hotel.

   <h3> Day 3 Jaipur-Ranthambore</h3>
    After breaksfast checkout from hotel & transfer to Ranthambore,at afternoon reach Ranthambore checkin at hotel,
    night stay at hotel.

   <h3> Day 4 Ranthambore Safari - Drop at Jaipur</h3>
    at early morning go for Ranthambore National Park Jungle Safari, After lunch checkout from hotel transfer to Jaipur
    Airport/Railway Station. Tour end with sweet memories of Jaipur pink city & Ranthambore wildlife tour.

    <h3>Package Includes -</h3>
    Pickup & Drop from Airport/Railway Station by well appointed AC Car
    3 night accommodation at Jaipur Hotel
    1 night accommodation at Ranthambore Hotel
    Daily Breakfast in Hotel
    All local sight seen at Jaipur including Chokhi Dhani
    Jaipur-Ranthambore-Jaipur transfers by well appointed AC Car
    Ranthambore National Park Jungle Safari
    Driver Allowance for 4 days
    All toll tax,road tax,state tax & parking charges
    All applicable taxes.

   <h3> Package Excludes -</h3>
    Any entry ticket/fees at any historical place & Chokhi Dhani.
    any personal expenses
    any travel insurance
    any other expenses which is not under package includes head.

  <h2>  For Bookings Call - +91-9990422209</h2>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>

</html>