{% extends 'home.html' %}
  {% block body %}   
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>travel</title>
    <link rel="stylesheet" href="/template/contact.html">
    <link rel="stylesheet" href="/static/css/home.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/image/kashmir4.png" height="400" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="/static/image/kashmir2.jpg" height="400" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/image/kashmir3.jpg" height="400" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/image/kashmir4.png" height="400" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
  data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>





<h1 style="text-align: center; ">Kashmir Tourism</h1>
<hr>
Jammu and Kashmir has been famous for its natural beauty since time immemorial and has been aptly described as
<strong>"heaven on earth"</strong>. The state has some of the best tourist spots in the entire country. Tourists from
  not only India
  but also the world over come to enjoy the scenic beauty of the state. The tourism industry has greatly benefited the
  state economy. Some of the major tourist attractions in the state are Gulmarg, Pahalgam, Leh, Patnitop, and Ladakh.
  The city of Jammu is popularly known as the City of temples. Srinagar is famous for its lakes and houseboats while
  Kashmir, known for its scenic natural beauty and rich cuisine is quite popular among tourists. The Dal Lake
  houseboats are one of the major attractions of Kashmir. Another major tourist attraction is the Mughal Gardens of
  Srinagar. While on a visit to Kashmir one should also not miss some of the various adventure prospects available,
  like trekking, rafting and skiing. Kashmir also has some of the best handicrafts in the entire country. Srinagar is
  known for its traditional crafts.
  
  <h2>Kashmir Tour Packages</h2>
  <hr>
  <h3>3Night / 4Days Package</h3> Places Cover : Srinagar, Gulmarg View Package Details
  <br>
  <h3>4Night / 5Days Package</h3> Places Cover : Srinagar, Gulmarg, Pahalgam View Package Details
  <br>
  <h3>5Night / 6Days Package</h3> Places Cover : Srinagar, Gulmarg, Pahalgam View Package Details
  <br>
  <h3>6Night / 7Days Package</h3> Places Cover : Srinagar, Gulmarg, Pahalgam, Sonmarg View Package Details
  <br>
  <h3>7Night / 8Days Package</h3> Places Cover : Srinagar, Gulmarg, Pahalgam, Sonmarg View Package Details
  <br>
  <h3>Kashmir Honeymoon Special Package</h3> Places Cover : Srinagar, Gulmarg, Pahalgam, Sonmarg View Package Details
  <br>
  <h3>Kashmir with Vaishno Devi Package</h3> Places Cover : Vaishno Devi, Patnitop, Srinagar, Gulmarg, Pahalgam View
  Package
  Details
  <br>
  <h3>Kashmir with Kargil Package</h3> Places Cover : Kargil, Srinagar, Gulmarg, Sonmarg View Package Details
  <br>
  <h3>Kashmir with Ladakh Package</h3> Places Cover : Srinagar, Gulmarg, Sonmarg, Kargil, Leh, Pangong Lake, Nabura
  Valley View
  Package Details
<div style="background-color: rgba(255, 4, 4, 0.422);text-align: center;">

  <h2>For Bookings Call - +91-9990422209</h2>
  Online Hotel Booking
</div>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
        <img src="/static/image/kashmir.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div style="color: gray;"> Starting price per adult</div>
          <h5 class="card-title">Rs.40,900</h5>
          <p class="card-text">Heaven Kashmir with Sonmarg - Gulmarg Excursion</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary"><button style="background-color: orangered;">Book Online</button><button  style="background-color: orange;">Want us to Call you?</button></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/image/kas1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div style="color: gray;"> Starting price per adult</div>
          <h5 class="card-title">Rs. 25,900</h5>
          <p class="card-text">Kashmir - Special 4 (Srinagar - Gulmarg - Pahalgam - Sonmarg )</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary"><button style="background-color: orangered;">Book Online</button><button  style="background-color: orange;">Want us to Call you?</button></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/image/kas2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div style="color: gray;"> Starting price per adult</div>
          <h5 class="card-title">Rs. 34,490</h5>
          <p class="card-text">Exotic Kashmir with Sonmarg</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary"><button style="background-color: orangered;">Book Online</button><button  style="background-color: orange;">Want us to Call you?</button></small>
        </div>
      </div>
    </div>
  </div>

  
  
  
  
  
  <h2>Kashmir Tourist Places</h2>
  <hr>
  <h3 style="color: orangered;">Srinagar.......</h3>
  Srinagar is one of several places that have been called the "Venice of the East" or the "Kashmiri Venice" Lakes
  around the city include Dal Lake – noted for its houseboats – and Nigeen Lake. Apart from Dal lake and Nigeen lake
  city is also famous for wular lake and manasbal lake to the north of srinagar. Wular lake is one of the largest
  fresh water lakes in Asia.
  
  Srinagar has some Mughal gardens, forming a part of those laid by the Mughal emperors across the Indian
  subcontinent. Those of Srinagar and its close vicinity include Chashma Shahi (the royal fountains); Pari Mahal (the
  palace of the fairies); Nishat Bagh (the garden of spring); Shalimar Bagh; the Naseem Bagh. Jawaharlal Nehru
  Memorial Botanical Garden is a botanical garden in the city, set up in 1969. The Indian government has included
  these gardens under "Mughal Gardens of Jammu and Kashmir" in the tentative list for sites to be included in world
  Heritage sites.
  
  The Sher Garhi Palace houses administrative buildings from the state government. Another palace of the Maharajas,
  the Gulab Bhavan, has now become the Lalit Grand Palace hotel. The Shankaracharya Temple on the hill top in the
  middle of the city, besides the Kheer Bhawani Temple are important hindu temples in the city.
  
  <h3 style="color: orangered;">Gulmarg.......</h3>
  Gulmarg is one of the beautiful place that can be visited in Kashmir valley. Gulmarg literally means the meadow of
  flowers. Originally, Gulmarg was called Gaurimarg, named after Shiva’s coasts. Gulmarg’s legendary beauty,prime
  location and proximity to Srinagar make it one of the premier hill resort in the country. Gulmarg, the hill resort
  is located only 52 km. to the south west of Srinagar in the Baramulla district of Jammu and Kashmir. Gulmarg is
  situated at an altitude of 2730 meters above sea level and has a gently sloping topography. Its present name
  ‘Gulmarg’ was given in the 16th century by Sultan Yusuf Shah, who was inspired by the sight of its grassy slopes
  filled with wild flowers. Gulmarg was a favourite haunt of Emperor Jehangir who once collected 21 different
  varieties of flowers from here. During the colonial rule over India, the British discovered the hill resort of
  Gulmarg in 1927. Gulmarg also hosted the British Resident and his fellow Europeans. Gulmarg attracts various
  tourists due to its natural beauty. The snow-clad peaks and the lovely landscapes of Gulmarg have provided
  background for several Bollywood ventures. Today Gulmarg is not merely a hill resort – but it also has the highest
  green golf course in the world, at an altitude of 2,650 m and also the Asia’s only heli-skiing resort in the winter.
  There is immense beauty and various adventure activities that make Gulmarg more than a cool hill resort. It is a
  convenient base for trek to the Himalayas and also offers various winter sports facilities to the tourists.

  <h3 style="color: orangered;">Pahalgam........</h3>
  Situated at the confluence of the streams flowing from Sheshnag Lake and the Lidder river, Pahalgam (2,130 m) was
  once a humble shepherd's village with breathtaking views. Now it is Kashmir's premier resort, cool even during the
  height of summer when the maximum temperature does not exceed 250C. A number of hotels and lodges cater to all
  preferences and budgets, from luxurious hotels to unpretentious trekkers' lodges.
  
  Pahalgam is also associated with the annual Amarnath Yatra. Chandanwari (2,895 m), 16 km from Pahalgam, is the
  starting point of the yatra that takes place every year in the month of Sawan (July to August). The road from
  Pahalgam to Chandanwari is on fairly flat terrain and can be undertaken by car. From Chandanwari onwards the track
  becomes much steeper, and is accessible on foot or by pony. About 11 km from Chandanwari is the mountain lake of
  Sheshnag (3,574 m), after which, 13 km away is the last stop, Panchtarni. The Amarnath cave is 6 km from there.
  During the month of Sawan, an ice stalagmite forms a natural Shivling in the Amarnath cave.
  
  <h3 style="color: orangered;">Sonmarg.........</h3>
  For all those adventure loving people who wish to enjoy camping at a hill station, Sonmarg is the ideal destination.
  Tourists flock to this small hill resort in heavy numbers to see the enchanting natural beauty and snow clad peaks.
  Known as the 'Meadow of Gold', Sonmarg is set amidst a valley of flowers and lakes. The word "Sona" literally means
  "Gold" in Hindi, and this golden beauty covered with white snow is most attractive in the spring. The exotic flora
  of the region is nurtured by the Sindh river. Sonmarg is the gateway to Ladakh.
  
  The dense forests of Sonmarg comprise of sycamore and alpine flowers, silver birch, fir and pine. The place is
  frequently visited by nature lovers in the search of tranquil peace and soothing natural beauty. The stunning blue
  water lakes and grasslands are the other attractions. The enchanting beauty of the towering snow clad mountains is a
  real treat to the eyes.
  
  <h3 style="color: orangered;"> Patnitop.........</h3>
  112 kms from Jammu. This famous hill resort is perched on a beautiful plateau, at an altitude of 2024 metres across
  which the Jammu-Srinagar Highway passes. Enveloped by thickly wooded forests, Patnitop offers beautiful picnic
  spots, peaceful walks and breathtaking views of the mountainscape of the Chenab basin. In winter, the resort is
  generally covered with a thick mantle of snow thus providing opportunities for various snow games including skiing.
  It is the best developed tourist spot of Jammu and is second to none in its natural charm, climate, pine forests and
  lush green cover. The occupancy of the huts and Dak Banglow is full in summer months.
  
  <h3 style="color: orangered;">Vaishno Devi........</h3>
  Vaishno Devi, also known as Mata Rani and Vaishnavi, is a manifestation of the Hindu Mother Goddess or Durga. The
  words "maa" and "mata" are commonly used in India for "mother", and thus are often used in connection with Vaishno
  Devi. Vaishno Devi Mandir (वैष्णोदेवी मन्दिर) is a Hindu temple dedicated to the Hindu Goddess, located at the
  Trikuta Mountains within the Indian state of Jammu and Kashmir.
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
  crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
  integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
  crossorigin="anonymous"></script>
</body>
  {% endblock %}
