




<div>

    <div style="justify-content: center;border-radius: 0 0 30px 30px;
align-items: center;
display: flex;margin-bottom: 20px;background-color: #00000061;">

        <!-- <img style="width: 8rem;" src="/static/image/logoillus.jpg" alt="">
       
        <img src="/static/image/Picsart_23-07-11_20-59-13-221.png" alt="" style="width: 78rex;padding: 1rem;"> -->
        <!-- 
        <div>

            <button type="button" class="btn btn-secondary btn-sm" style="font-family: math;background-color: black;margin-right: -144px;
        "><a style="text-decoration: none; color: white;" href="/regis">registration</a> </button>
            <button type="button" class="btn btn-secondary btn-sm"
                style="font-family: math;background-color: brown"><a style="text-decoration: none; color: white;"
                    href="/login">login</a> </button>
            <button type="button" class="btn btn-secondary btn-sm"
                style="font-family: math;background-color: #8D6E63;"><a style="text-decoration: none; color: white;"
                    href="/contact">contact us</a> </button>
            <button type="button" class="btn btn-secondary btn-sm"
                style="font-family: math;background-color: #8D6E63;"><a style="text-decoration: none; color: white;"
                    href="/spinwheel">Click me</a> </button>

        </div> -->


        <nav class="navbar navbar-expand-lg bg-body-tertiary" style=" background: linear-gradient(1deg, #00796b54, #000000c7);
--bs-bg-opacity: 0;font-family: math;">
            <div class="container-fluid">




                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown" style="    padding-top: 12px;">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="color: white;">
                                    India Tourism
                                </strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="tamil">Tamil Nadu</a></li>
                                <li><a class="dropdown-item" href="orrisa">Orissa</a></li>
                                <li><a class="dropdown-item" href="kashmir">Kashmir</a></li>
                                <li><a class="dropdown-item" href="assam">Assam</a></li>
                                <li><a class="dropdown-item" href="#">Andhra Pradesh</a></li>

                                <li><a class="dropdown-item" href="#">Bihar</a></li>

                                <li><a class="dropdown-item" href="#">Chhattisgarh</a></li>

                                <li><a class="dropdown-item" href="#">Delhi</a></li>

                                <li><a class="dropdown-item" href="#">Goa</a></li>

                                <li><a class="dropdown-item" href="#">Himachal Pradesh</a></li>

                                <li><a class="dropdown-item" href="#">Jammu and Kashmir</a></li>
                                <li><a class="dropdown-item" href="#">Karnataka</a></li>
                                <li><a class="dropdown-item" href="#">Madhyapradesh</a></li>
                                <li><a class="dropdown-item" href="#">Maharastra</a></li>
                                <li><a class="dropdown-item" href="#">Manipur</a></li>
                                <li><a class="dropdown-item" href="#">Meghalaya</a></li>
                                <li><a class="dropdown-item" href="#">Puducherry</a></li>
                                <li><a class="dropdown-item" href="#">Punjab</a></li>
                                <li><a class="dropdown-item" href="#">Rajisthan</a></li>
                                <li><a class="dropdown-item" href="#">Sikkim</a></li>
                                <li><a class="dropdown-item" href="#">Uttrakhand</a></li>
                                <li><a class="dropdown-item" href="#">Uttar Pradesh</a></li>
                                <li><a class="dropdown-item" href="#">West Bengal</a></li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="    color: white;">InternationL Tourism</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="kastourpak">Kashmir tour packages</a></li>
                                <li><a class="dropdown-item" href="mastourpak">Massoorie tour packages</a></li>
                                <li><a class="dropdown-item" href="jaitourpak">Jaipur Tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Ladakh Tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Ooty tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Agra tour packages</a></li>

                                <li><a class="dropdown-item" href="#">Simla Manali tour packages</a></li>



                                <li><a class="dropdown-item" href="#">Kashmir tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Manali tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Kasauli tour packages</a></li>

                                <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <strong style="color: white;">Honeymoon Tours</strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="goahony/">Goa</a></li>
                            <li><a class="dropdown-item" href="kerhony/">Kerala</a></li>
                            <li><a class="dropdown-item" href="simhony/">Shimla</a></li>
                            <li><a class="dropdown-item" href="#">Nainital</a></li>
                            <li><a class="dropdown-item" href="#">Almora</a></li>
                            <li><a class="dropdown-item" href="#">Mussoorie</a></li>
                            <li><a class="dropdown-item" href="#">Mount Abu</a></li>
                            <li><a class="dropdown-item" href="#">Mumbai</a></li>
                            <li><a class="dropdown-item" href="#">Delhi</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <strong style="color: white;">Wildlife</strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="guwwild">Guwahati – Shillong Tour With Kaziranga National
                                    Park from North East India</a></li>
                            <li><a class="dropdown-item" href="jaipurwild">Ranthambore national park Jaipur</a></li>
                            <li><a class="dropdown-item" href="sundarbanwild">Sundarban National Park Wildlife Tour from
                                    WestBengal</a></li>
                            <li><a class="dropdown-item" href="sundarbanwild">Ranthambore Package From Goa form
                                    Rajasthan</a></li>
                            <li><a class="dropdown-item" href="sundarbanwild">Ranthambore Tour Package From Mumbai</a>
                            </li>
                            <li><a class="dropdown-item" href="sundarbanwild">Bandipur National Park Jungle Safari Tour
                                    from
                                    Karnataka</a></li>
                            <li><a class="dropdown-item" href="sundarbanwild">Jim Corbett National Park Tour from
                                    Uttrakhand</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <strong style="color: white;">Adventure</strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Ladakh tour packages</a></li>
                            <li><a class="dropdown-item" href="#">Rajisthan Tour packages</a></li>

                            <li><a class="dropdown-item" href="#">Simla Manali tour packages</a></li>
                            <li><a class="dropdown-item" href="#">Hill station tour</a></li>
                            <li><a class="dropdown-item" href="#">Agra tour packages</a></li>


                            <li><a class="dropdown-item" href="#">Ooty tour packages</a></li>

                            <li><a class="dropdown-item" href="#">Massoorie tour packages</a></li>
                            <li><a class="dropdown-item" href="#">Kashmir tour packages</a></li>
                            <li><a class="dropdown-item" href="#">Jaipur Tour packages</a></li>
                            <li><a class="dropdown-item" href="#">Manali tour packages</a></li>
                            <li><a class="dropdown-item" href="#">Kasauli tour packages</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <strong style="color: white;">Pilgrimage</strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Chardham Yatra</a></li>
                            <li><a class="dropdown-item" href="#">12Jyotirlinga yatra</a></li>
                            <li><a class="dropdown-item" href="#">Vaishno Devi Packages</a></li>
                            <li><a class="dropdown-item" href="#">Amarnath Yatra</a></li>
                            <li><a class="dropdown-item" href="#">Kedarnath yatra</a></li>
                            <li><a class="dropdown-item" href="#">Dwarkadhish Temple Tour</a></li>
                            <li><a class="dropdown-item" href="#">Varansi Pilgrimage Tour</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <strong style="color: white;">Popular Tour</strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="popularand">Andaman family Tour</a></li>
                            <li><a class="dropdown-item" href="popularnainital">Nainital Honeymoon Delight</a></li>
                            <li><a class="dropdown-item" href="popularchardham">Chardham Yatra By Helicopter</a></li>
                            <li><a class="dropdown-item" href="#">Best Of Sikkim Tour</a></li>
                            <li><a class="dropdown-item" href="#">Valley Of Flowers Trek</a></li>
                            <li><a class="dropdown-item" href="#">Kashmir Houseboat Tour With Sonmarg</a></li>
                            <li><a class="dropdown-item" href="#">Kedarnath Yatra Package 2023 From Haridwar</a></li>
                            <li><a class="dropdown-item" href="#">Kullu Manali tour</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>