<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Kashmir Holiday Package (4Nights / 5Days)</h2></center>
    <hr>
<br>
<h4>Day 01 Arrival at Srinagar</h4>
Arrival at Srinagar Airport our representative will assist and transfer you to the hotel/deluxe houseboat. In the afternoon enjoy shikara ride on Dal Lake, where you visit the floating vegetable gardens. While riding the Shikara’s there are plenty of opportunities for bird watching with plentiful species including Kingfisher, Little Bittern, Common Pariah Kites, Grebe etc. Dinner and Overnight in hotel/ deluxe houseboats.
<br>
<h4>Day 02 Srinagar Local Sightseeing</h4>
After breakfast check out from the Houseboat & Checkin at Hotel after that go for local sightseeing of Srinagar visit Mughal Garden, Nishant Garden, Shankracharya Temple, overnight stay in the hotel.
<br>
<h4>Day 03 Srinagar | Gulmarg | Srinagar</h4>
Morning leave for Gulmarg (Meadow of Flowers) 2730 mts. above the sea level. The distance of 60 kms will be covered in about 2 hours. Gulmarg has one of the best ski slopes in the world and highest golf course with 18 holes. If weather permits one can also have the view of Nanga Parbat, the naked mountain that is over 26,000 feets and dominates the entire region, also enjoy cable car (Gondola) for mountain ride upto khilangmarg. In the evening drive back to Srinagar. Overnight in hotel /deluxe houseboat
<br>
<h4>Day 04 Srinagar | Pahalgam | Srinagar</h4>
Our trip today will be to a picturesque valley around 97 kiilometers South of Kashmir. Known as Pahalgam (which means The Shepherds Village), the valley is renowned the world over for its exotic forests, pretty water streams and imposing snow peaks. In Pahalgam you can visit Betaab Valley and Chandanwari as well as take a horse riding trip to Baisaran meadows (Of Your Own Cost ). After sightseeing around the mountain valley for most of the day, we will drive back to Srinagar and transfer to the hotel for our overnight stay.
<br>
<h4>Day 05 Srinagar Departure</h4>
After breakfast checkout from hotel and transfer to Srinagar airport for onward flight
<br>
<ul>
<h4>Inclusions</h4>
<li>ccommodation in Hotel / Houseboats on Twin sharing basis.</li>
<li>Daily breakfast And Dinner.</li>
<li>sightseeing as per the itinerary.</li>
<li>ll transfers, city tours and transport services by Non Ac Vehicle as per the itinerary</li>
<li>All Arrival/Departure transfer as mentioned in Itinerary. Airport transfers (airport - hotel - airport).</li>
<li>01 Hour Shikara ride in dal lake.</li>
<li>All applicable Taxes.</li>
</ul>
<br>
Note - Above package is also available from Jammu to Jammu
</body>
</html>