<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andaman family Tour</title>
    <!-- <link rel="stylesheet" href="/static/css/popularand.css"> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

 




    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item ">
              <img src="/static/image/andman1.jpg" height="400" class="d-block w-100" alt="...">
            </div>
          <div class="carousel-item ">
            <img src="/static/image/andaman.jpg" height="400"class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="/static/image/andman.jpg" height="400" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/image/Andaman_family_tour.jpg"  height="400" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <h1>Overview</h1>
    Looking for a getaway to spend a one-week-long vacation with your family in a place where you can enjoy nature,
    luxury, and adventures together? Look no further than Andaman. Plan your family holidays in Andaman and discover the
    mesmerizing beauty of the Andaman and Nicobar Islands with your beloved family through our exclusively designed 7
    nights 8 days Andaman tour package. This enchanting land is a paradise for beach lovers, adventure seekers, and
    those in search of a tranquil getaway. With its stunning beaches, mysterious mangroves, vibrant coral reefs, and
    thrilling water sports, Andaman offers a memorable vacation experience.

    Begin your Andaman itinerary at Port Blair. Explore the popular attractions, and indulge in souvenir shopping.
    Embark on a fascinating excursion to Ross Island, where you can delve into its rich history and soak in the serene
    ambiance.

    Continue your 7 nights 8 days Andaman tour package by visiting Coral/North Bay Island, known for its vibrant coral
    reefs and water sports activities. Dive into the crystal-clear waters and witness the colorful marine life through
    snorkeling or scuba diving.

    Unravel the mysteries of Viper Island, an enigmatic place with a haunting past. Immerse yourself in its intriguing
    stories and marvel at the scenic beauty surrounding you.

    Head to Neil Island, one of the popular attractions of Andaman tourism. Relax and unwind on its captivating beaches.
    Soak in the picturesque views and enjoy leisurely strolls along the shoreline. Cruise from Neil Island to Havelock
    Island,the tranquility of the blue seas awaits you.

    At Havelock Island, embark on an adventure to Elephant Beach. Engage in snorkeling and witness the breathtaking
    underwater world filled with vibrant corals and exotic marine species.

    No trip to Andaman is complete without visiting Radha Nagar Beach. Soak up the sun, bask in the beauty of the
    surroundings. Explore the scenic Kalapathar Beach, known for its pristine shores. Take a leisurely stroll and
    immerse yourself in the tranquility of the surroundings.

    To add a touch of history to your itinerary, embark on an exciting day trip to Mount Harriet. Discover its colonial
    past and enjoy panoramic views of the island from its summit.

    Whether you’re seeking adventure, relaxation, or a cultural experience, the Andaman and Nicobar Islands have it all.
    Book Andaman tour package with us, and get ready to create cherished memories for a lifetime.

    <h1>Here is the short tour itinerary for a 7 nights 8 days family holiday in Andaman-</h1>
    <pre>
Upon your arrival in Andaman, you will be warmly greeted by a representative from Bon Travel India. They will escort you to your
hotel in Port Blair, ensuring a comfortable start to your journey.
After refreshing yourself, head to the Phoenix Bay Jetty for a delightful boat ride to Ross Island. This small and picturesque 
island is a treasure trove of preserved heritage, and the 20-minute ferry ride from Port Blair offers spectacular views.
Once you’ve explored Ross Island, proceed to North Bay Island, where you can witness the magnificent coral reefs up close through 
activities such as snorkeling, sea walking, or scuba diving.
Enjoy thrilling experiences like high-speed boating, glass-bottom boating, dolphin boat cruises, and deep-sea adventures.
Conclude the day with a visit to the intriguing Viper Island, known for its historical buildings, gallows where prisoners were executed, and lush greenery.
Enjoy a mesmerizing sunset view from the island before returning to Port Blair and your hotel for the night
    </pre>
    <h3>Day 01:</h3> Arrival at Port Blair + Ross / Coral/North Bay & Viper Island Excursion
    <pre>
After a refreshing breakfast, head to the Port Blair Phoenix Jetty to catch a ferry to Neil Island.
The ferry journey spans approximately 40 kilometers and takes 2.5 to 4 hours, depending on the speed of the ferry.
As you glide through the calm seas on a high-speed catamaran, you’ll be treated to a pleasant, breezy ride, surrounded 
by the refreshing scent of the salty ocean air.
Overnight stay and dinner at hotel/resort.
    
    </pre>
    <h3>Day 02:</h3> Port Blair to Neil Island
    <pre>
Start your day by visiting the beautiful natural rock formation known as Howrah Bridge. 
This unique spot offers a chance to observe various species of starfish, 
corals, mollusks, snakes, and sea cucumbers. Please note that the approach to 
the bridge-like rock can be rough, rocky, muddy, and slippery.
Next, visit the exotic Bharatpur Beach, renowned for its crystal-clear blue waters. 
Take a refreshing swim, relax lazily on the beach, or play among the foamy waves.
Later, explore the gentle and sandy Laxmanpur Beach, which exudes sheer charm.
Witness the enchanting golden sunset before returning to your hotel on Neil Island.
    </pre>
    <h3>Day 03:</h3> Neil Island Excursion
    <pre>
Start your day with an early morning sunrise experience near your hotel. 
Enjoy the serene beauty and capture breathtaking moments.
After breakfast, pack up and proceed to the Neil Island Jetty to catch a ferry to the stunning Havelock Island.
Upon reaching Havelock, spend the day exploring the island at your own pace. 
Walk along the nearest beach, reveling in the awe-inspiring beauty of the blue Andaman Seas.
Spend a comfortable night at hotel in Havelock
</pre>

    <h3>Day 04:</h3> Neil Island to Havelock Island
    <pre>
Following breakfast, embark on an exciting adventure to Elephant Beach, famous for scuba diving and snorkeling.
Immerse yourself in the underwater world as you explore the vibrant coral reefs during a scuba or snorkeling session.
Alternatively, you can enjoy a glass-bottom boat ride to witness the mesmerizing marine ecosystem.
In the afternoon, proceed to the renowned Radhanagar Beach, consistently ranked as one of the world’s best beaches.
Lose yourself in its serene beauty, enjoying the exquisite views of the sea. Create unforgettable memories to cherish.
Return to your hotel in Havelock for an overnight stay.
    </pre>
    <h3>Day 05:</h3> Elephant Beach with Snorkeling & Radha Nagar Beach Excursion
    <pre>
After an early breakfast, embark on a scenic drive to Kalapatthar Beach. Admire the beach’s beauty, characterized by submerged black rocks. 
Although not ideal for swimming or water activities, the beach offers tranquility and a sprawling sea view.
Enjoy the seclusion of Kalapatthar Beach, relishing moments of peace and solitude amidst nature’s splendor.
Later, return to your hotel in Havelock and prepare for the journey back to Port Blair.
Spend the night at your Port Blair hotel, reminiscing about the unforgettable experiences of your trip.
    </pre>
    <h3>Day 06:</h3> Kalapathar Beach Excursion / Havelock to Port Blair
    <pre>
Today, embark on an excursion to Mount Harriet National Park, accessible from Port Blair via Bombooflot. 
You can choose to travel by ferry service or by road, with the ferry journey taking approximately 15 to 20 minutes, 
while the road journey covers 40 kilometers in about an hour.
Mount Harriet National Park is spread across 4,662 hectares and is surrounded by majestic mountain ranges. 
Explore the park’s steep 
slopes, rocky beaches, sandy areas, and pristine streams flowing into the sea. Immerse yourself in the 
untouched and unspoiled beauty of this natural paradise.
After a day well spent, return to your hotel in Port Blair for a comfortable night’s stay.
    </pre>
    <h3>Day 07:</h3> Excursion to Mount Harriet
    <pre>
Today, embark on an excursion to Mount Harriet National Park, accessible from Port Blair via Bombooflot. 
You can choose to travel by ferry service or by road, 
with the ferry journey taking approximately 15 to 20 minutes, while the road journey covers 40 kilometers in about an hour.
Mount Harriet National Park is spread across 4,662 hectares and is surrounded by majestic mountain ranges. 
Explore the park’s steep slopes, rocky beaches, 
sandy areas, and pristine streams flowing into the sea. Immerse yourself in the untouched and unspoiled beauty of this natural paradise.
After a day well spent, return to your hotel in Port Blair for a comfortable night’s stay.   
    </pre>
    <h3>Day 08:</h3> Departure
    <pre>
As you depart from the Andaman Islands, filled with unforgettable memories of this island paradise, make your way to the Veer Savarkar Airport.
Carry these cherished memories with you long after you have bid farewell to this remote island beauty.
Your Andaman family vacation trip ends here with us, leaving you with a heart full of happiness and beautiful memories to treasure.
    </pre>
    Check out <strong>“Tour Plan”</strong> Tab for detailed itinerary.

    <strong>To book this tour, fill the enquiry form with all your essential details. If you need any customization,
        please
        mention it. Our Travel executive will be happy to help you and get back to you soon within 6-12 hours.</strong>

    *Please note that the price quoted is exclusively for Indian Nationals and is subject to change based on seasonal
    variations and availability.


     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>

</html>