
<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>travel</title>
    <link rel="stylesheet" href="/template/contact.html">
    <link rel="stylesheet" href="/static/css/home.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>








<body style="background-color: lightsteelblue;">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div>


        <div>

            <div style="justify-content: center;border-radius: 0 0 30px 30px;
align-items: center;
display: flex;margin-bottom: 20px;background-color: #00000061;">

                <img style="width: 8rem;" src="/static/image/logoillus.jpg" alt="">

                <img src="/static/image/Picsart_23-07-11_20-59-13-221.png" alt="" style="width: 78rex;padding: 1rem;">

                <div style="display: grid;">

                    <button type="button" class="btn btn-secondary btn-sm" style="font-family: math;background-color: black;margin-right: -144px;
            "><a style="text-decoration: none; color: white;" href="/regis">registration</a> </button>
                    <!-- <button type="button" class="btn btn-secondary btn-sm"
                        style="font-family: math;background-color: brown"><a
                            style="text-decoration: none; color: white;" href="/login">logout</a> </button> -->
                    <button type="button" class="btn btn-secondary btn-sm"
                        style="font-family: math;background-color: #8D6E63;"><a
                            style="text-decoration: none; color: white;" href="/contact">contact us</a> </button>
                    <button type="button" class="btn btn-secondary btn-sm"
                        style="font-family: math;background-color: #8D6E63;"><a
                            style="text-decoration: none; color: white;" href="/spinwheel">Click me</a> </button>

                </div>
            </div>

            <div style="    text-align: center;    padding-bottom: 17px;">

                <a style="text-decoration: none; color: white; padding: 3px;" href="/">Home</a>
                <a style="text-decoration: none; color: white;  padding: 3px;" href="/login">Login</a>
                <a style="text-decoration: none; color: white;  padding: 3px;" href="/contact">Contact</a>
                <a style="text-decoration: none; color: white;  padding: 3px;" href="/regis">registration</a>


            </div>


            <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" style=" background: linear-gradient(1deg, #00796b54, #000000c7);
    --bs-bg-opacity: 0;font-family: math;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">

                    </a>



                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item dropdown" style="    padding-top: 12px;">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <strong style="color: white;">
                                        India Tourism
                                    </strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="udapur">Udaipur</a></li>
                                    <li><a class="dropdown-item" href="tamil">Tamil Nadu</a></li>
                                    <li><a class="dropdown-item" href="orrisa">Orissa</a></li>
                                    <li><a class="dropdown-item" href="kashmir">Kashmir</a></li>
                                    <li><a class="dropdown-item" href="assam">Assam</a></li>

                                    <li><a class="dropdown-item" href="#">Bihar</a></li>

                                    <li><a class="dropdown-item" href="#">Chhattisgarh</a></li>

                                    <li><a class="dropdown-item" href="#">Delhi</a></li>

                                    <li><a class="dropdown-item" href="#">Goa</a></li>

                                    <li><a class="dropdown-item" href="#">Himachal Pradesh</a></li>

                                    <li><a class="dropdown-item" href="#">Jammu and Kashmir</a></li>
                                    <li><a class="dropdown-item" href="#">Karnataka</a></li>
                                    <li><a class="dropdown-item" href="#">Madhyapradesh</a></li>
                                    <li><a class="dropdown-item" href="#">Maharastra</a></li>
                                    <li><a class="dropdown-item" href="#">Manipur</a></li>
                                    <li><a class="dropdown-item" href="#">Meghalaya</a></li>
                                    <li><a class="dropdown-item" href="#">Puducherry</a></li>
                                    <li><a class="dropdown-item" href="#">Punjab</a></li>
                                    <li><a class="dropdown-item" href="#">Rajisthan</a></li>
                                    <li><a class="dropdown-item" href="#">Sikkim</a></li>
                                    <li><a class="dropdown-item" href="#">Uttrakhand</a></li>
                                    <li><a class="dropdown-item" href="#">Uttar Pradesh</a></li>
                                    <li><a class="dropdown-item" href="#">West Bengal</a></li>

                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <strong style="    color: white;">InternationL Tourism</strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="mussorie">Massoorie tour packages</a></li>
                                    <li><a class="dropdown-item" href="ladkh">Ladakh Tour packages</a></li>
                                    <li><a class="dropdown-item" href="udapur">udapur Tour packages</a></li>
                                    <li><a class="dropdown-item" href="kastourpak">Kashmir tour packages</a></li>
                                    <li><a class="dropdown-item" href="#">Ooty tour packages</a></li>
                                    <li><a class="dropdown-item" href="#">Agra tour packages</a></li>

                                    <li><a class="dropdown-item" href="#">Simla Manali tour packages</a></li>



                                    <li><a class="dropdown-item" href="#">Kashmir tour packages</a></li>
                                    <li><a class="dropdown-item" href="#">Manali tour packages</a></li>
                                    <li><a class="dropdown-item" href="#">Kasauli tour packages</a></li>

                                    <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="color: white;">Honeymoon Tours</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="goa/">Goa</a></li>
                                <li><a class="dropdown-item" href="kerhony/">Kerala</a></li>
                                <li><a class="dropdown-item" href="simhony/">Shimla</a></li>
                                <li><a class="dropdown-item" href="#">Nainital</a></li>
                                <li><a class="dropdown-item" href="#">Almora</a></li>
                                <li><a class="dropdown-item" href="#">Mussoorie</a></li>
                                <li><a class="dropdown-item" href="#">Mount Abu</a></li>
                                <li><a class="dropdown-item" href="#">Mumbai</a></li>
                                <li><a class="dropdown-item" href="#">Delhi</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="color: white;">wildlife</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="wildlife">Show All</a></li>

                               
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="color: white;">Adventure</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="manali">Simla Manali tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Hill station tour</a></li>
                                <li><a class="dropdown-item" href="#">Agra tour packages</a></li>


                                <li><a class="dropdown-item" href="#">Ooty tour packages</a></li>

                                <li><a class="dropdown-item" href="#">Massoorie tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Kashmir tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Jaipur Tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Manali tour packages</a></li>
                                <li><a class="dropdown-item" href="#">Kasauli tour packages</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="color: white;">Pilgrimage</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="chardham">Chardham Yatra</a></li>
                                <li><a class="dropdown-item" href="vashno">Vaishno Devi Packages</a></li>
                                <li><a class="dropdown-item" href="#">12Jyotirlinga yatra</a></li>
                                <li><a class="dropdown-item" href="#">Amarnath Yatra</a></li>
                                <li><a class="dropdown-item" href="#">Kedarnath yatra</a></li>
                                <li><a class="dropdown-item" href="#">Dwarkadhish Temple Tour</a></li>
                                <li><a class="dropdown-item" href="#">Varansi Pilgrimage Tour</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <strong style="color: white;">Popular Tour</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="andaman">Andaman family Tour</a></li>
                                <li><a class="dropdown-item" href="nanital">Nainital Honeymoon Delight</a></li>
                                
                                
                                <li><a class="dropdown-item" href="#">Best Of Sikkim Tour</a></li>
                                <li><a class="dropdown-item" href="#">Valley Of Flowers Trek</a></li>
                                <li><a class="dropdown-item" href="#">Kashmir Houseboat Tour With Sonmarg</a></li>
                                <li><a class="dropdown-item" href="#">Kedarnath Yatra Package 2023 From Haridwar</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Kullu Manali tour</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form  method="get" action="/search/" class="d-flex" role="search">
                        <input class="form-control me-2" type="search"  name="query"
                        id="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav> -->
    </div>
    



    {%block body%}


<h1>
Seach Result

</h1>





{%endblock%}

      <!-- footer -->
     
    </body>
    <div>
    
        <footer>
            <div class="row primary">
                <div class="column about">
    
                    <h3>#Ummazing India</h3>
    
                    <p>
                        India nahi dekha to country kya dekha!
                    </p>
    
                    <div class="social">
                        <i class="fa-brands fa-facebook-square"><img src="/static/image/facebookicon.png"
                                style="width: 3rem;" alt=""></i>
                        <i class="fa-brands fa-instagram-square"><img src="/static/image/instagramicon.png"
                                style="width: 3rem;" alt=""></i>
                        <i class="fa-brands fa-twitter-square"><img src="/static/image/twittericon.png" style="width: 3rem;"
                                alt=""></i>
                        <i class="fa-brands fa-youtube-square"><img src="/static/image/youtubeicon.png" style="width: 3rem;"
                                alt=""></i>
                        <i class="fa-brands fa-whatsapp-square"><img src="/static/image/WhatsAppicon.png"
                                style="width: 3rem;" alt=""></i>
                    </div>
                </div>
    
                <div class="column links">
                    <h3>Some Links</h3>
    
                    <ul>
    
                        <li>
                            <a href="#faq">F.A.Q</a>
                        </li>
                        <li>
                            <a href="#cookies-policy">Cookies Policy</a>
                        </li>
                        <li>
                            <a href="#terms-of-services">Terms Of Service</a>
                        </li>
                        <li>
                            <a href="#support">Support</a>
                        </li>
                    </ul>
    
                </div>
    
    
                <div class="column links">
                    <h3>Some Links</h3>
                    <ul>
                        <li>
                            <a href="#faq">F.A.Q</a>
                        </li>
                        <li>
                            <a href="#cookies-policy">Cookies Policy</a>
                        </li>
                        <li>
                            <a href="#terms-of-services">Terms Of Service</a>
                        </li>
                        <li>
                            <a href="#support">Support</a>
                        </li>
                    </ul>
                </div>
    
                <div class="column subscribe">
                    <h3 style="text-align: center;">Newsletter</h3>
                    <div>
                        <input type="email" placeholder="Your email id here" style="border-radius: 50px;" />
                        <button style="border-radius: 50px;">Subscribe</button>
                    </div>
    
                </div>
    
            </div>
    
            <div class="row copyright">
                <div class="footer-menu">
    
                    <a href="/">Home</a>
                    <a href="/login">Login</a>
                    <a href="/contact">Contact</a>
                    <a href="/regis">registration</a>
    
    
                </div>
                <p>Copyright &copy; 2024 memorable yatra</p>
            </div>
        </footer>
    
    
    
    </div>
    
    
    
    
    
    
    </html>