<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>simla honeymoon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    
      
      
      <body>
        <div style="    text-align: center;    padding-bottom: 17px;">

          <a style="text-decoration: none; color: rgb(0, 0, 0); padding: 3px;" href="/">Home</a>
      
          <a style="text-decoration: none; color: rgb(0, 0, 0);  padding: 3px;" href="/contact">Contact</a>
          <a style="text-decoration: none; color: rgb(0, 0, 0);  padding: 3px;" href="/regis">registration</a>
      
      
      </div>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/image/simila2.jpg" height="400"class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="/static/image/simila1.jpg" height="400" class="d-block w-100" alt="...">
            </div>
          <div class="carousel-item">
            <img src="/static/image/simila3.jpg" height="400" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/image/simila4.jpg"  height="400" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>  
          
    
    <h1>Shimla Honeymoon Packages</h1>
    Shimla is the ideal place for newly married honeymooners to bask in the beauty of Nature and to celebrate the
    together moments in a much closer manner. Amidst the thick forests of Rhododendron, Oak and Pine trees that pose an
    evergreen scenery for you. Mountains covered with snow present an amazing view. Your honeymoon in Shimla is going to
    be full of marvelous surroundings that are a dream of every newly married couple. Here is a list of places that are
    there for your Shimla honeymoon to make is a really charming memory. Shimla is one of the most popular honeymoon
    destinations in Himalayan region.
    
    Honeymoon in Shimla idyllically means cozying up near the fire on a chilly winter evenings, enjoying a romantic
    candlelit dinner, luxuriating with an aroma therapy treatment or exploring and discovering interesting aspects of
    this charming hill station. Whether you are looking to spend a romantic holiday at a luxurious resort with all the
    finer trimmings one expects from an upscale accommodation or bringing out the adventurer in you and discovering
    fascinating hotspots – a Shimla honeymoon package will surely meet all your desires and expectations.
    
    Shimla, the Queen of hills, is a home to a lot of marvellous honeymoon attractions frequented by newly weeded
    couples and other vacationers. Famous for the rolling hill and mountains, the cool mystique air and backdrop of the
    varied landscape of Shimla Manali easily captivates your senses. You can also indulge into recreational sports such
    as golfing, mountaineering, ice skating, skiing and trekking in the hills of Shimla.
    
    <h1> Shimla Honeymoon Tour Itinerary</h1>
</h2>Day 01 :</h2>Arival Shimla
    Upon arrival at Kalka Railway Station, our local representative will pick you and transfer to Shimla. Upon Arrival
    Check in at hotel. Later in the evening dinner will be Served at hotel. Overnight at Shimla

    <h2>Day 02 :</h2> Shimla City Tour
    After breakfast this morning you will have a full day visit to Chail,Naldehra & Kufri - situated at an altitude of
    2500 meters - a 2-hour drive from Shimla. Later in the afternoon, visit Vice Regal Lodge and take a walk down the
    Mall Road. Return to your hotel later in evening for dinner and a comfortable Overnight stay.
    
    <h2>Day 03 :</h2> Free at Leisure
    After Breakfast, the day is Free at leisure to spend on your own or to do shopping at The Mall Road.. Dinner at
    hotel. Overnight at Shimla.
    
    <h2> Day 04 :</h2> Final Departure
    After Breakfast, You will be transfer to Railway Station for Onward travel.
    
    <h1>Package includes</h1>
    3 Nights Accomodation in Shimla
    Daily Breakfast & Dinner
    Welcome Drink upon Arrival
    Fruit basket/cookies platter in the room
    Honeymoon special cake once during the stay
    Candle light dinner once during the stay
    One full-day trip to Kufri, Green Valley, Naldhera and Jakhoo temple
    Surprise gift on departure
    Return train ticket Delhi/Kalka/Delhi in Sleeper Class
    All applicable taxes
    
    <h1>For Booking Call +91-9990422209</h1>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
</body>

</html>